*.js linguist-language=Assembly
*.css linguist-language=Assembly
*.html linguist-language=Assembly

*.bat linguist-language=Oz
*.nes linguist-language=Oz
*.fns linguist-language=Oz
*.chr linguist-language=Oz
