<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>6502 by phase</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="simjs/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="simjs/es5-shim.js"></script>
    <script src="simjs/assembler.js"></script>
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">6502</h1>
      <h2 class="project-tagline">Tutorials &amp; Projects using 6502 ASM</h2>
      <a href="https://github.com/phase/6502" class="btn">View on GitHub</a>
      <a href="#tutorial" class="btn">6502 Tutorial</a>
      <a href="#nes" class="btn">NES Development</a>
    </section>

    <section class="main-content">

      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/phase/6502">6502</a> is maintained by <a href="https://github.com/phase">phase</a>.</span>

        <span class="site-footer-credits">This page is hosted on <a href="https://pages.github.com">GitHub</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>
    </section>
  </body>
</html>
